In [22]:
# 코드 처리하기

'''
문제 설명
문자열 code가 주어집니다.
code를 앞에서부터 읽으면서 만약 문자가 "1"이면 mode를 바꿉니다. 
mode에 따라 code를 읽어가면서 문자열 ret을 만들어냅니다.

mode는 0과 1이 있으며, idx를 0 부터 code의 길이 - 1 까지 1씩 키워나가면서
code[idx]의 값에 따라 다음과 같이 행동합니다.

mode가 0일 때
code[idx]가 "1"이 아니면 idx가 짝수일 때만 ret의 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 0에서 1로 바꿉니다.

mode가 1일 때
code[idx]가 "1"이 아니면 idx가 홀수일 때만 ret의 맨 뒤에 code[idx]를 추가합니다.
code[idx]가 "1"이면 mode를 1에서 0으로 바꿉니다.
문자열 code를 통해 만들어진 문자열 ret를 return 하는 solution 함수를 완성해 주세요.

단, 시작할 때 mode는 0이며, 
return 하려는 ret가 만약 빈 문자열이라면 대신 "EMPTY"를 return 합니다.

code = 'abc1abc1abc'
result = 'acbac'
'''

code = 'abc1abc1abc' # len(code) = 11이므로 idx를 0부터 10까지 1씩키워나간다.
result = 'acbac'

def solution(code):
    ret = ''
    mode = 0
    for idx in range(len(code)):
        if code[idx] == '1' and mode == 0: # mode가 0이므로 mode 1로 변경
                mode = 1
        elif code[idx] == '1' and mode == 1: # mode가 1이므로 mode 0으으로 변경
                mode = 0
        elif code[idx] != '1':
            if mode == 0: # mode = 0 상태로 계속 진행
                if idx % 2 == 0:  # mode = 0 -> idx = 1이 아니고, 짝수일 때 ret에 code[idx] 추가
                    ret += code[idx]
            elif mode == 1: # mode = 1 상태로 계속 진행
                if idx % 2 == 1: # mode = 1 -> idx = 1이 아니고, 홀수일 때 ret에 code[idx] 추가
                    ret += code[idx]
    if ret == '':
        return "EMPTY"
       
    return ret

solution(code)


# def solution(code):
#     answer = ''

#     mode = 0
#     for i in range(len(code)):
#         if code[i] == '1':
#             mode ^= 1
#         else:
#             if i % 2 == mode:
#                 answer += code[i]

#     return answer if answer else 'EMPTY'

'acbac'

## Day 6

In [ ]:
# 수열과 구간 쿼리 3

'''
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. 
queries의 원소는 각각 하나의 query를 나타내며, [i, j] 꼴입니다.

각 query마다 순서대로 arr[i]의 값과 arr[j]의 값을 서로 바꿉니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 
solution 함수를 완성해 주세요.

1 ≤ arr의 길이 ≤ 1,000
0 ≤ arr의 원소 ≤ 1,000,000
1 ≤ queries의 길이 ≤ 1,000
0 ≤ i < j < arr의 길이

arr = [0, 1, 2, 3, 4]
queries = [[0, 3],[1, 2],[1, 4]]
result = [3, 4, 1, 0, 2]

'''
arr = [0, 1, 2, 3, 4]
queries = [[0, 3],[1, 2],[1, 4]]
result = [3, 4, 1, 0, 2]


def solution(arr, queries):
    for i, v in queries: # i = 0, v = 3
        arr.insert(i, arr[v])
        arr.insert(v+1, arr[i+1])
        del arr[i + 1]
        del arr[v + 1]
    return arr
            





solution(arr, queries)

print(arr)

# def solution(arr, queries):
#     for a,b in queries:
#         arr[a],arr[b]=arr[b],arr[a]
#     return arr

[3, 4, 1, 0, 2]