## Day 13 리스트(배열)

In [ ]:
def execution_time(func):
    start_time = process_time()
    print(func)
    end_time = process_time()
    print(f'프로그램을 수행하는데 {end_time - start_time}초가 걸렸습니다.')

### n 번째 원소부터

In [1]:
'''문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, 
n 번째 원소부터 마지막 원소까지의 모든 원소를 담은 리스트를 
return하도록 solution 함수를 완성해주세요.

2 ≤ num_list의 길이 ≤ 30
1 ≤ num_list의 원소 ≤ 9
1 ≤ n ≤ num_list의 길이
'''

num_list = [2, 1, 6]
n = 3
result = [6]

num_list = [5, 2, 1, 7, 5]
n = 2
result = [2, 1, 7, 5]

def solution(num_list, n):
    return num_list[n-1:]

solution(num_list, n)

[1, 7, 5]

### 순서 바꾸기

* extend는 list를 반환하지 않고 원래 list를 변형시킨다.

In [16]:
'''
문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, 
num_list를 n 번째 원소 이후의 원소들과 n 번째까지의 원소들로 나눠 
n 번째 원소 이후의 원소들을 n 번째까지의 원소들 앞에 붙인 리스트를 
return하도록 solution 함수를 완성해주세요.

2 ≤ num_list의 길이 ≤ 30
1 ≤ num_list의 원소 ≤ 9
1 ≤ n ≤ num_list의 길이
'''

num_list = [2, 1, 6]
n = 1
result = [1, 6, 2]

num_list = [5, 2, 1, 7, 5]
n = 3
result = [7, 5, 5, 2, 1]

def solution(num_list, n):
    answer = num_list[n:]
    answer.extend(num_list[:n])
    return answer
solution(num_list, n)

# def solution(num_list, n):
#     return num_list[n:] + num_list[:n]

[7, 5, 5, 2, 1]

### 왼쪽 오른쪽

In [21]:
'''
문제 설명
문자열 리스트 str_list에는 "u", "d", "l", "r" 네 개의 문자열이 
여러 개 저장되어 있습니다. 
str_list에서 "l"과 "r" 중 먼저 나오는 문자열이 "l"이라면 
해당 문자열을 기준으로 왼쪽에 있는 문자열들을 순서대로 담은 리스트를, 
먼저 나오는 문자열이 "r"이라면 해당 문자열을 기준으로 오른쪽에 있는 문자열들을 
순서대로 담은 리스트를 return하도록 solution 함수를 완성해주세요. 
"l"이나 "r"이 없다면 빈 리스트를 return합니다.

1 ≤ str_list의 길이 ≤ 20
str_list는 "u", "d", "l", "r" 네 개의 문자열로 이루어져 있습니다.
'''

str_list = ["u", "u", "l", "r"]
result = ["u", "u"]

# str_list = ["l"]
# result = []

def solution(str_list):
        if 'l' in str_list:
            if 'r' in str_list: # 'l'과 'r'이 모두 str_list에 있을 때
                if str_list.index('l') < str_list.index('r'):
                    return str_list[:str_list.index('l')]
                else:
                    return str_list[str_list.index('r') + 1:]
            elif 'r' not in str_list:
                return str_list[:str_list.index('l')]
        elif 'l' not in str_list:
            if 'r' in str_list:
                return str_list[str_list.index('r') + 1:]
            elif 'r' not in str_list:
                return []

solution(str_list)

# def solution(str_list):
#     for i in range(len(str_list)):
#         if str_list[i]=='l': return str_list[:i]
#         elif str_list[i]=='r': return str_list[i+1:]
#     return []

['u', 'u']

### n 번째 원소까지

In [25]:
'''
문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, 
num_list의 첫 번째 원소부터 n 번째 원소까지의 모든 원소를 담은 리스트를 
return하도록 solution 함수를 완성해주세요.

2 ≤ num_list의 길이 ≤ 30
1 ≤ num_list의 원소 ≤ 9
1 ≤ n ≤ num_list의 길이 ___
'''

num_list = [2, 1, 6]
n = 1
result = [2]

num_list = [5, 2, 1, 7, 5]
n = 3
result = [5, 2, 1]

def solution(num_list, n):
    return num_list[:n]
solution(num_list, n)

[5, 2, 1]

### n개 간격의 원소들

In [26]:
'''
문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, 
num_list의 첫 번째 원소부터 마지막 원소까지 n개 간격으로 
저장되어있는 원소들을 차례로 담은 리스트를 
return하도록 solution 함수를 완성해주세요.

5 ≤ num_list의 길이 ≤ 20
1 ≤ num_list의 원소 ≤ 9
1 ≤ n ≤ 4
'''

num_list = [4, 2, 6, 1, 7, 6]
n = 2
result = [4, 6, 7]

num_list = [4, 2, 6, 1, 7, 6]
n = 4
result = [4, 7]

def solution(num_list, n):
    return num_list[::n]

solution(num_list, n)

[4, 7]

## Day 14 리스트(배열)

### 홀수 vs 짝수

In [28]:
'''
문제 설명
정수 리스트 num_list가 주어집니다. 
가장 첫 번째 원소를 1번 원소라고 할 때, 
홀수 번째 원소들의 합과 짝수 번째 원소들의 합 중 큰 값을 
return 하도록 solution 함수를 완성해주세요. 두 값이 같을 경우 그 값을 return합니다.

문제 설명
정수 리스트 num_list가 주어집니다. 
가장 첫 번째 원소를 1번 원소라고 할 때, 
홀수 번째 원소들의 합과 짝수 번째 원소들의 합 중 큰 값을 
return 하도록 solution 함수를 완성해주세요. 두 값이 같을 경우 그 값을 return합니다.
'''

num_list = [4, 2, 6, 1, 7, 6]
result = 17

# num_list = [-1, 2, 5, 6, 3]
# result = 8

def solution(num_list):
    even = 0
    odd = 0
    for i, n in enumerate(num_list):
        if i % 2 == 0:
            odd += n
        else:
            even += n
    if even > odd:
        return even
    else:
        return odd

solution(num_list)

# def solution(num_list):
#     return max(sum(num_list[0: len(num_list): 2]), sum(num_list[1: len(num_list): 2]))

17

### 5명씩

In [53]:
'''
문제 설명
최대 5명씩 탑승가능한 놀이기구를 타기 위해 
줄을 서있는 사람들의 이름이 담긴 문자열 리스트 names가 주어질 때, 
앞에서 부터 5명씩 묶은 그룹의 가장 앞에 서있는 사람들의 이름을 담은 리스트를 
return하도록 solution 함수를 완성해주세요. 

마지막 그룹이 5명이 되지 않더라도 가장 앞에 있는 사람의 이름을 포함합니다.

5 ≤ names의 길이 ≤ 30
1 ≤ names의 원소의 길이 ≤ 10
names의 원소는 영어 알파벳 소문자로만 이루어져 있습니다.
'''
names = ["nami", "ahri", "jayce", "garen", "ivern", "vex", "jinx"]
# result = ["nami", "vex"]

def solution(names):
    answer = []
    result = []
    try:
        for i in range(round(len(names)/5) + 1):
            answer.extend(names[5 * i:5 * (i + 1)])
            result.append(answer[0])
            print(answer)
            answer = []
        return result
    except:
        if result:
            return result
        else:
            return names[0]

solution(names)

# def solution(names):
#     return names[::5]

['nami', 'ahri', 'jayce', 'garen', 'ivern']
['vex', 'jinx']

['nami', 'vex']

### 할 일 목록

In [57]:
'''
문제 설명
오늘 해야 할 일이 담긴 문자열 배열 todo_list와 
각각의 일을 지금 마쳤는지를 나타내는 boolean 배열 finished가 
매개변수로 주어질 때, 
todo_list에서 아직 마치지 못한 일들을 순서대로 담은 문자열 배열을 
return 하는 solution 함수를 작성해 주세요.

1 ≤ todo_list의 길이 1 ≤ 100
2 ≤ todo_list의 원소의 길이 ≤ 20
todo_list의 원소는 영소문자로만 이루어져 있습니다.
todo_list의 원소는 모두 서로 다릅니다.
finished[i]는 true 또는 false이고 true는 todo_list[i]를 마쳤음을, 
false는 아직 마치지 못했음을 나타냅니다.
아직 마치지 못한 일이 적어도 하나 있습니다.
'''
todo_list = ["problemsolving", "practiceguitar", "swim", "studygraph"]
finished = [True, False, True, False]
# result = ["practiceguitar", "studygraph"]

def solution(todo_list, finished):
    answer = []
    for i in range(len(finished)):
        if finished[i] == True:
            pass
        else:
            answer.append(todo_list[i])

    return answer

solution(todo_list, finished)

['practiceguitar', 'studygraph']

In [60]:
def solution(todo_list, finished):
    answer = [todo_list[i] for i in range(len(finished)) if finished[i] != True]

    return answer
solution(todo_list, finished)

['practiceguitar', 'studygraph']

### n보다 커질 때까지 더하기

In [62]:
'''
문제 설명
정수 배열 numbers와 정수 n이 매개변수로 주어집니다. 
numbers의 원소를 앞에서부터 하나씩 더하다가 그 합이 n보다 커지는 순간 
이때까지 더했던 원소들의 합을 return 하는 solution 함수를 작성해 주세요.

1 ≤ numbers의 길이 ≤ 100
1 ≤ numbers의 원소 ≤ 100
0 ≤ n < numbers의 모든 원소의 합
'''
numbers	 = [34, 5, 71, 29, 100, 34]
n = 123
result = 139

numbers	 = [58, 44, 27, 10, 100]
n = 139
result = 239

def solution(numbers, n):
    answer = 0
    i = 0
    while answer <= n:
        answer += numbers[i]
        i += 1

    return answer

solution(numbers, n)

239

### 수열과 구간 쿼리 1

In [63]:
'''
문제 설명
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. 
queries의 원소는 각각 하나의 query를 나타내며, [s, e] 꼴입니다.

각 query마다 순서대로 s ≤ i ≤ e인 모든 i에 대해 arr[i]에 1을 더합니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.

1 ≤ arr의 길이 ≤ 1,000
0 ≤ arr의 원소 ≤ 1,000,000
1 ≤ queries의 길이 ≤ 1,000
0 ≤ s ≤ e < arr의 길이
'''

arr = [0, 1, 2, 3, 4]
queries = [[0, 1],[1, 2],[2, 3]]
result = [1, 3, 4, 4, 4]

def solution(arr, queries):
    answer = []
    for s, e in queries:
        for i in range(s, e + 1):
            arr[i] = arr[i] + 1

    return arr
solution(arr, queries)

[1, 3, 4, 4, 4]